langchain
langchain-core
langchain-community
langchain-text-splitters
sentence_transformers
Docling
pypdf
pymupdf
pyPDF2
pgvector
logging
torch
Pillow
rapidocr-onnxruntime
onnxruntime-gpu
onnxruntime(cpu)
langchain_postgres
langgraph
langsmith
python-dotenv
langchain-ollama
nest_asyncio 


